.columnsList {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
}

.columnItem {
    height: fit-content;
}

.columnHeader {
    height: 40px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
}
