.columnContainer {
    position: relative;
    overflow: scroll;
    height: 100%;
}

.columnsList {
    position: absolute;
    display: flex;
    gap: 20px;
}

.columnItem {
    height: fit-content;
    width: 15vw;
}

.columnHeader {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
}
