.button {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid;
    border-radius: 5px;
    padding: 5px 10px;
    cursor: pointer;
    gap: 5px;
}


.button.discreet {
    color: var(--darkgrey);
    background-color: transparent;
    border-color: transparent;
}

.button.discreet:hover {
    border-color: var(--blue);
    color: var(--blue);
}


.button.plain {
    background-color: var(--blue);
    border-color: var(--blue);
    color: var(--white);
}

.button.plain:hover {
    font-weight: bold;
}


.button.loading {
    background-color: var(--white);
    font-style: italic;
    opacity: 0.2;
}
